<div class="container">
  <div class="row">
    <div class="panel panel-primary general-panel">
      <div class="panel-heading">    
        <div class="panel-title text-center">
          <h4>Add A New Product</h4>
        </div>
      </div>
      <div class="panel-body">
        <%= form_for @product, url: {action: "create"}, html: {class: "form-horizontal",
          role: "form"} do |f|%>
          <div class="form-group">
            <%= label_tag(:name, "Product Name:", class: "control-label col-sm-4") %>
            <div class="col-sm-6">
              <%= f.text_field(:name, class: "form-control") %>
            </div>
          </div>
          <div class="form-group">
            <%= label_tag(:unit_price, "Unit Price:", class: "control-label col-sm-4") %>
            <div class="col-sm-6">
              <%= f.text_field(:unit_price, class: "form-control") %>
            </div>
          </div>
          <div class="form-group">
            <%= label_tag(:description, "Description:", class: "control-label col-sm-4") %>
            <div class="col-sm-6">
              <%= f.text_area(:description, class: "form-control") %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-6">
              <%= f.hidden_field(:business_id, value: session[:business_id]) %>
            </div>
          </div>          
          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
            <%= submit_tag("Add Product", class: "btn btn-sm btn-primary") %>
            </div>
          </div>
        <% end %>
      </div>
    </div>      
  </div>    
</div>